  <div class="flex border rounded hover:bg-gray-50 py-5 items-center pl-5">
    <strong class="flex-1">
      <%= faq.question %>
      </strong>
    <div class="flex gap-5 px-5">
    <button class="btn-cicle">
      <span class="material-symbols-outlined opacity-50">visibility</span>
    </button>
    <button class="btn-cicle">
      <span class="material-symbols-outlined opacity-50">edit</span>
    </button>
    <button class="btn-cicle">
      <span class="material-symbols-outlined opacity-50">delete</span>
    </button>
    </div>
  </div>