<footer class="digitalls-footer">
    <section class="digitalls-footer__wrapper">
        <dt-footer-logo></dt-footer-logo>
        <p class="digitalls-footer__text">
        {{ year }}
        </p>
        <ul class="digitalls-footer__links">
          <li><a href="#termos" class="digitalls-footer__link">Termos</a></li>
          <li>
            <a href="#privacidade" class="digitalls-footer__link">Privacidade</a>
          </li>
          <li><a href="#contato" class="digitalls-footer__link">Contatos</a></li>
        </ul>
        <ul class="digitalls-footer__socials">
          <li>
            <a href="#facebook" class="digitalls-footer__social"
              ><i class="ri-facebook-fill ri-xl"></i
            ></a>
          </li>
          <li>
            <a href="#twitter" class="digitalls-footer__social"
              ><i class="ri-twitter-x-fill ri-xl"></i
            ></a>
          </li>
          <li>
            <a href="#instagram" class="digitalls-footer__social"
              ><i class="ri-instagram-fill ri-xl"></i
            ></a>
          </li>
          <li>
            <a href="#linkedin" class="digitalls-footer__social"
              ><i class="ri-linkedin-fill ri-xl"></i
            ></a>
          </li>
        </ul>
    </section>
</footer>
