  <div class="flex border rounded py-5 items-center pl-5">
    <strong class="flex-1">
      <%= faq.question %>
      </strong>
    <div class="flex gap-5 px-5">
    <button class="btn-cicle">
      <span class="material-symbols-outlined opacity-50">edit</span>
    </button>
    
    <%= button_to admin_faq_path(faq), method: :delete, class: "btn-cicle bg-transparent hover:bg-red-800 hover:text-white text-gray-500 p-2 transition-all" do%>
      <i class="material-symbols-outlined">delete</i>
    <%end%>
    </div>
  </div>