<svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1438 570" preserveAspectRatio="none">
  <!-- <defs>
    <pattern id="imagePattern" patternUnits="objectBoundingBox" width="1" height="1">
      <image href="https://www.businessinsider.in/photo/86827484/how-to-find-your-current-location-in-google-maps.jpg?imgsize=40898" preserveAspectRatio="none" x="0" y="0" width="1440px" height="540px" />
    </pattern>

    <filter id="colorEffect">
      <feColorMatrix type="matrix" values="
        0.33 0.33 0.33 0 0
        0.33 0.33 0.33 0 0
        0.33 0.33 0.33 0 0
        0    0    0    1 0"/>
    </filter>
  </defs> -->

  <!-- Aplicar o padrão da imagem e o filtro de cor -->
  <!-- <path
    [attr.d]="wavePath"
    fill="url(#imagePattern)"
    filter="url(#colorEffect)"
    fill-opacity="0.5"
    ></path> -->
    <path
    [attr.d]="wavePath"
    fill-opacity="1"
  ></path>
</svg>
