
  <footer class="w-full px-20 bg-white py-6 justify-start items-center gap-12 flex">
    <%= render 'shared/logo'%>

    <section class="flex-1 text-[#231918] text-base font-normal font-['Roboto'] leading-snug">Digitalls @ <%= current_year%>. Todos os direitos reservados.</section>
    <div class="justify-end items-center gap-6 flex">
      <div class="py-3 justify-start items-center gap-2 flex">
        <div class="text-[#231918] text-base font-normal font-['Roboto'] leading-snug">Termos</div>
      </div>
      <div class="py-3 justify-start items-center gap-2 flex">
        <div class="text-[#231918] text-base font-normal font-['Roboto'] leading-snug">Privacidades</div>
      </div>
      <div class="py-3 justify-start items-center gap-2 flex">
        <div class="text-[#231918] text-base font-normal font-['Roboto'] leading-snug">Contatos</div>
      </div>
    </div>
    <div class="justify-center items-center gap-4 flex text-[#b22222]">
      <i class="ri-facebook-fill"></i>
      <i class="ri-twitter-fill"></i>
      <i class="ri-instagram-fill"></i>
      <i class="ri-linkedin-fill"></i>
    </div>
  </footer>