
  <footer>
    <section class="w-full container mx-auto justify-start items-center gap-5 flex flex-col py-5 sm:flex-row-reverse sm:px-10">
    <div class="justify-end items-center gap-6 hidden">
      <div class="py-3 justify-start items-center gap-2 flex">
        <div class="text-[#231918] text-base font-normal font-['Roboto'] leading-snug">Termos</div>
        <div class="text-[#231918] text-base font-normal font-['Roboto'] leading-snug">Privacidades</div>
        <div class="text-[#231918] text-base font-normal font-['Roboto'] leading-snug">Contatos</div>
      </div>
    </div>
    <div class="justify-center items-center gap-4 flex text-[#b22222]">
      <i class="ri-facebook-fill"></i>
      <i class="ri-twitter-fill"></i>
      <i class="ri-instagram-fill"></i>
      <i class="ri-linkedin-fill"></i>
    </div>

    <section class="flex-1 text-[#696969] text-xs font-normal font-['Roboto'] leading-snug">Digitalls @ <%= current_year%>. Todos os direitos reservados.</section>
    
    <%= render 'shared/logo'%>
    </section>
  </footer>