<header class="bg-[#b22222] shadow-none py-10 flex flex-col items-center">
  <div class="font-roboto font-bold  text-4xl leading-[44px] flex items-center text-center mb-10 text-white">
    Perguntas? Nós Temos as Respostas
  </div>
  <input type="search" class="w-full border-white max-w-[700px] pl-11" placeholder="Pesquise nas FAQs..."/>
</header>