@import "../../scss/main.scss";

.digitalls-hero {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 100vh;
  background-color: $primary-color;
  color: #fff;
  position: relative;
  @include desktop {
    align-items: center;
  }
  &__wrapper {
    display: flex;
    margin-inline: auto;
    width: 100%;
    @include desktop {
      max-width: 1200px;
      width: 100%;
    }
  }
  &__nav {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    &__links {
      position: absolute;
      bottom: 30px;
      width: 100%;
    }
    svg {
      width: 100%;
    }
  }
  &__content {
    flex: 1;
    max-width: 550px;
    height: 360px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 50px;

    &__title {
      font-style: normal;
      font-weight: 400;
      line-height: 122%;
      font-size: 20px;
      text-align: center;

      @include desktop {
        text-align: left;
        font-size: 26px;
      }

      color: #ffffff;
    }

    &__button {
      display: inline-block;
      padding: 0.8rem 1.5rem;
      width: max-content;
      background-color: #fff;
      color: $primary-color;
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      display: flex;
      align-items: center;
      gap: 0.8rem;
      line-height: 150%;
      text-align: center;

      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  &__carousel {
    display: none;
    @include desktop {
      display: flex;
    }
    justify-content: center;
    flex: 1;
    position: relative;
    width: 600px;
    height: 500px;
    overflow: hidden;
    &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
    }
    &carousel__image.visible {
      opacity: 1;
    }
  }
}
.digitalls-about {
  padding: 3rem 2rem;
  background-color: #fff8f7;
  text-align: center;
  display: flex;
  @include desktop {
    max-width: 1200px;
    margin: auto;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-sizing: border-box;
    gap: 40px;
  }
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    @include desktop {
      font-size: 72px;
    }
    line-height: 120%;
    color: #000000;
  }

  span {
    color: $primary-color;
    font-weight: bold;
  }

  &__text {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  &__icon {
    width: 25%;
    display: none;
    @include desktop {
      display: block;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.digitalls-mission {
  padding: 3rem 2rem;
  background-color: #000080;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  &__wrapper {
    @include desktop {
      max-width: 1200px;
      margin: auto;
    }
    display: flex;
    flex-direction: row-reverse;
    padding: 0 20px;
    box-sizing: border-box;
  }
  &__wrapper__title {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    @include desktop {
      font-size: 72px;
    }
    line-height: 120%;
  }

  &__text {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
  }

  &__icon {
    width: 25%;
    display: none;
    @include desktop {
      display: block;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.digitalls-objective {
  svg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
  }
  position: relative;
  padding: 3rem 2rem;
  background-color: #cfedfb;
  color: #000000;
  text-align: center;
  display: flex;
  width: 100%;
  &__wrapper {
    z-index: 100;
    @include desktop {
      max-width: 1200px;
      margin: auto;
    }
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;
  }
  &__wrapper__title {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 20px;
  }
  &__title {
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    font-size: 36px;
    @include desktop {
      font-size: 72px;
    }
  }
  span {
    color: #084d6e;
    font-weight: 700;
  }

  &__text {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  &__icon {
    width: 25%;
    display: none;
    @include desktop {
      display: block;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.digitalls-team {
  padding: 3rem 2rem;
  @include desktop {
    max-width: 1200px;
    margin: auto;
  }

  &__title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    font-size: 36px;
    @include desktop {
      font-size: 72px;
    }
    span {
      color: $primary-color;
      font-weight: bold;
    }
  }

  &__members {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include desktop {
      justify-content: space-between;
      flex-direction: row;
    }
    gap: 1.5rem;
  }

  &__member {
    text-align: center;
    border-radius: 10px;
    padding: 1.5rem;
    // width: 300px;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: 1rem;
    }

    &__name {
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 120%;
      color: #000000;
    }

    &__role {
      font-size: 1rem;
      color: #666;
      margin-bottom: 1rem;
    }

    &__social {
      display: flex;
      justify-content: center;
      gap: 12px;

      &--1 {
        a {
          color: #000080;
        }
      }
      &--2 {
        a {
          color: #b22222;
        }
      }
      &--3 {
        a {
          color: #084d6e;
        }
      }

      a {
        font-size: 1.2rem;

        &:hover {
          color: #333;
        }
      }
    }
  }
}
