<section class="digitalls-hero">
  <section class="digitalls-hero__wrapper">
    <div class="digitalls-hero__content">
      <dt-header-logo></dt-header-logo>
      <h1 class="digitalls-hero__content__title">
        Excelência acadêmica sob medida: <br />
        mentoria, coorientação, formatação e revisão para o seu sucesso.
      </h1>
      <button class="digitalls-hero__content__button">
        <span>Consulte Nossos Serviços</span>
        <i class="ri-presentation-fill"></i>
      </button>
    </div>
    <div class="digitalls-hero__carousel">
      <div
        class="digitalls-hero__carousel__image"
        *ngFor="let image of images; let i = index"
        [@fadeAnimation]="i === currentIndex ? 'visible' : 'hidden'"
        [style.backgroundImage]="'url(' + image + ')'"
      ></div>
    </div>
  </section>
  <aside class="digitalls-hero__nav">
    <div class="digitalls-hero__nav__links">
      <dt-header [logo]="false"></dt-header>
    </div>
    <svg
      width="1440"
      height="180"
      class="wave"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 250"
      preserveAspectRatio="none"
    >
      <path [attr.d]="wavePath$ | async" fill="#FFF8F7" fill-opacity="1"></path>
    </svg>
  </aside>
</section>

<!-- Sobre -->
<section class="digitalls-about" id="about">
  <div class="digitalls-about__icon">
    <img src="assets/scholarcap.png" alt="Ícone Graduação" />
  </div>
  <div class="digitalls-about__wrapper">
    <h2 class="digitalls-about__title">Sobre a <span>Digi Talls</span></h2>
    <p class="digitalls-about__text">
      A <span>Digi Talls</span> destaca-se no cenário acadêmico como uma
      inovadora prestadora de serviços de
      <strong
        >mentoria, coorientação, formatação e revisão de trabalhos
        acadêmicos</strong
      >. Com um modelo de negócios totalmente remoto, estabelecido em 2020 em
      meio à pandemia, a empresa tem suas raízes na cidade de Floresta-PE, mas
      sua atuação <strong>ultrapassa fronteiras</strong>, alcançando estudantes
      em qualquer parte do mundo. Sem a necessidade de um escritório físico, a
      Digi Talls se orgulha de sua capacidade de oferecer assistência
      especializada onde quer que você esteja.
    </p>
  </div>
</section>

<!-- Missão -->
<section class="digitalls-mission" id="about">
  <div class="digitalls-mission__wrapper">
    <div class="digitalls-mission__icon">
      <img src="assets/rocket.png" alt="Ícone Graduação" />
    </div>
    <div class="digitalls-mission__wrapper__title">
      <h2 class="digitalls-mission__title">Nossa Missão</h2>
      <p class="digitalls-mission__text">
        Nossa <strong>missão</strong> é fornecer
        <strong>orientação, revisão e formatação</strong> de projetos acadêmicos
        com <strong>excelência e pontualidade</strong>. Atendemos estudantes de
        graduação e pós-graduação, auxiliando-os a superar desafios acadêmicos e
        desenvolver seus projetos de acordo com as normas da ABNT e das
        universidades.
      </p>
    </div>
  </div>
</section>
<!-- Objetivo -->
<section class="digitalls-objective" id="about">
  <svg
    width="1440"
    height="180"
    class="wave"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 250"
    preserveAspectRatio="none"
  >
    <rect width="100%" height="100%" fill="#000080" />
    <path [attr.d]="wavePath$ | async" fill="#CFEDFB" fill-opacity="1"></path>
  </svg>
  <div class="digitalls-objective__wrapper">
    <div class="digitalls-objective__icon">
      <img src="assets/target.png" alt="Ícone Graduação" />
    </div>
    <div class="digitalls-objective__wrapper__title">
      <h2 class="digitalls-objective__title">Nosso <span>Objetivo</span></h2>
      <p class="digitalls-objective__text">
        Nosso <span>objetivo</span> é proporcionar um suporte completo e
        personalizado, alinhando os horários das mentorias conforme a
        disponibilidade dos nossos clientes. A Digi Talls valoriza a
        <strong>sofisticação, elegância e delicadeza</strong> em todos os seus
        serviços, garantindo a satisfação e o sucesso acadêmico dos nossos
        mentorandos.
      </p>
    </div>
  </div>
</section>

<!-- Equipe -->
<section class="digitalls-team" id="team">
  <h2 class="digitalls-team__title">Nossa <span>Equipe</span></h2>
  <div class="digitalls-team__members">
    <div class="digitalls-team__member">
      <img src="assets/person1.png" alt="Taísa F. Aureliano" />
      <h4 class="digitalls-team__member__name">Taísa F. Aureliano</h4>
      <p class="digitalls-team__member__role">Mestre em ...</p>
      <div
        class="digitalls-team__member__social digitalls-team__member__social--1"
      >
        <a href="#"><i class="ri-facebook-fill"></i></a>
        <a href="#"><i class="ri-instagram-line"></i></a>
        <a href="#"><i class="ri-tiktok-line"></i></a>
        <a href="#"><i class="ri-linkedin-box-fill"></i></a>
      </div>
    </div>
    <div class="digitalls-team__member" *ngIf="true">
      <img src="assets/person2.png" alt="Gilvaneide Gomes" />
      <h4 class="digitalls-team__member__name">Gilvaneide Gomes</h4>
      <p class="digitalls-team__member__role">Mestre em ...</p>
      <div
        class="digitalls-team__member__social digitalls-team__member__social--2"
      >
        <a href="#"><i class="ri-facebook-fill"></i></a>
        <a href="#"><i class="ri-instagram-line"></i></a>
        <a href="#"><i class="ri-tiktok-line"></i></a>
        <a href="#"><i class="ri-linkedin-box-fill"></i></a>
      </div>
    </div>
    <div class="digitalls-team__member">
      <img src="assets/person3.png" alt="Fabiola Silva" />
      <h4 class="digitalls-team__member__name">Fabiola Silva</h4>
      <p class="digitalls-team__member__role">Mestre em ...</p>
      <div
        class="digitalls-team__member__social digitalls-team__member__social--3"
      >
        <a href="#"><i class="ri-facebook-fill"></i></a>
        <a href="#"><i class="ri-instagram-line"></i></a>
        <a href="#"><i class="ri-tiktok-line"></i></a>
        <a href="#"><i class="ri-linkedin-box-fill"></i></a>
      </div>
    </div>
  </div>
</section>
