/* You can add global styles to this file, and also import other style files */
@use 'scss-reset/reset';
@import 'remixicon/fonts/remixicon.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    font-family: "Roboto", serif;
}

/* Reset para o estilo dos links */
a {
  text-decoration: none;  /* Remove sublinhado */
  color: inherit;         /* Herda a cor do elemento pai */
  margin: 0;              /* Remove margem */
  padding: 0;             /* Remove preenchimento */
  border: none;           /* Remove borda */
  background: none;       /* Remove fundo */
  font: inherit;          /* Herda a fonte do elemento pai */
  outline: none;          /* Remove contorno ao focar */
}

a:hover, a:focus {
  text-decoration: none;  /* Remove sublinhado ao focar ou passar o mouse */
}
