/* You can add global styles to this file, and also import other style files */
@use 'scss-reset/reset';
@import 'remixicon/fonts/remixicon.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    font-family: "Inter", serif;
}
body{
  min-height: 100vh;
}
/* Reset para o estilo dos links */
a {
  text-decoration: none;  /* Remove sublinhado */
  color: inherit;         /* Herda a cor do elemento pai */
  margin: 0;              /* Remove margem */
  padding: 0;             /* Remove preenchimento */
  border: none;           /* Remove borda */
  background: none;       /* Remove fundo */
  font: inherit;          /* Herda a fonte do elemento pai */
  outline: none;          /* Remove contorno ao focar */
}

a:hover, a:focus {
  text-decoration: none;  /* Remove sublinhado ao focar ou passar o mouse */
}
